@import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#myFooter {
  background-color: #437cd8;
  color: white;
  padding-top: 30px;
}

#myFooter .footer-copyright {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .navbar-brand {
  margin-top: 45px;
  height: 65px;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .btn {
  color: white;
  background-color: #d84b6b;
  border-radius: 20px;
  border: none;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Login Page CSS */

.login {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

input.clearfix {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.NotmyButton {
  box-shadow: inset 0px -1px 20px 3px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding: 20px 39px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  margin-left: 30px;
  margin-right: 20px;
}

.NotmyButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.NotmyButton:active {
  position: relative;
  top: 1px;
}



/* End Login Page CSS */

