{% extends "treasurehunt/base.html" %}
{% block content %}
{% load static %}


<!--background audio--> 
{% if user.is_authenticated %}
    <title>Your Score: {{score}}</title>
  
{% endif %}
	  <audio autoplay="autoplay" loop="true"> 
		 <source src="{% static 'win.mp3' %}" />   
	  </audio> 



	<body class="hidden">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
		<div id='title'>
		
  		<img src="{% static 'img/win.jpeg' %}" width="600px" height="350px">
		  <br>

  		<span>
    		CONGRATULATIONS! YOU'VE WON!!!
		  </span>
		  <br>
		  <br>
		  <br>
		<div><a href="#"><div class="button btn btn-outline-success"><b>Click to claim your reward!</b></div></a></div>

		</div>
		
		
		
  
	  

	</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
	$(document).ready(function () {
    $('div.hidden').fadeIn(50000).removeClass('hidden');
});
</script>

{% endblock content %}
