{% extends "treasurehunt/base.html" %}

{% block content %}
{% load static %}

<div class="row">
						
    <div class="col-lg-6">
        <div class="text-left">
            <h2><span>The Hunt</span> is on..!!</h2>
            <p>The Online Treasure hunt for Movie Buffs</p>
            <a href="{% url 'treasurehunt:question' %}" class="">Start Hunt</a><br><br><br>
            <a href="{% url 'treasurehunt:leaderboard' %}" class="">Leaderboard</a>
        </div>
    </div>

{% endblock content %}
