{% extends "treasurehunt/base.html" %}
{% load static %}


{% block content %}
<section class="mazha back-row-toggle splat-toggle">
    <div class="rain front-row">ddddd</div>
    <div class="rain back-row">ggg</div>
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">

                    <div class="row">
                                            
                        <div class="col-lg-6">
                            <div class="text-left">
                                <h2><span>The Hunt</span> is on..!!</h2>
                                <p>To all those amazing people of T4, we bring you the hunt. Hunt for the hidden elements of your brain. Fire up your grey engine and get your aides ready. For we introduce you, to the <strong>SCOPRIRE</strong> . </p>
                                <a href="{% url 'treasurehunt:question' %}" class="">Start Quiz</a><br><br><br>
                                <a href="{% url 'treasurehunt:leaderboard' %}" class="">Leaderboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock content %}
