{% extends "treasurehunt/base.html" %}

{% block content %}
{% load static %}

<div class="row">
						
    <div class="col-lg-6">
        <div class="text-left">
            <h2><span>Small Pieces</span> big picture..!!</h2>
            <p>Get ready and brush up your technical skills as ENCENDER launched by IETE SF TKMCE brings to you <strong>>'ELECTROJUNK'</strong, a 24hour online treasure hunt on electronic technologies . </p>
            <a href="{% url 'treasurehunt:question' %}" class="">Start Quiz</a><br><br><br>
            <a href="{% url 'treasurehunt:leaderboard' %}" class="">Leaderboard</a>
        </div>
    </div>

{% endblock content %}