{% extends "treasurehunt/base.html" %}
{% block content %}
{% load static %}

<br><br><br><br><br>
<!-- Contact section -->
<section class="contact-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="contact-warp">
					<div class="section-title mb-0">
						<h3>Your Score : {{score}}</h3>
					
					

					</div>
					<img src="{% static 'images/'%}{{question_fixed}}.png" type="image/png" width="600px" height="350px" alt=""
						style="padding-top:20px; padding-bottom:20px;">

					<form class="contact-from" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{question_form.as_p}}
						<input class="col-md-3 btn btn-outline-primary" type="submit" value="Submit">
					</form>

				</div>
			</div>
			<div class="col-lg-6 p-0">
				&nbsp

			</div>

		</div>
	</div>
</section>
{% endblock content %}